<% layout('layouts/boilerplate') %> 

<div class="row text-center">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h1>
                <i class="fas fa-exclamation-triangle display-5 mb-3"></i>
            </h1>
            <h2 class="alert-heading display-3">
                <%= err.statusCode %> 
            </h2>
            <h3>
                <%= err.message %> 
            </h3>
            <hr>
        </div>
    </div>
</div>